@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url(../public/images/chatBg.png);
  background-size: cover;
  background-position:center;
}
