@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background-image: url(../public/images/chatBg.png);
  background-size: cover;
  background-position:center;
}

::-webkit-scrollbar {
  width: 0
}

::-webkit-scrollbar-thumb {
  background: #fffbc4; /* Light yellow thumb */
  border-radius: 4px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #fff8a0; /* Slightly darker yellow on hover */
}